.home {
  min-height: calc(100vh - 86px);
}

.panel {
  background-color: white;
  padding-left: 10px;
  margin: 10px;
  min-height: 100px;
  min-width: 600px;
}

.panel:hover {
  box-shadow: 3px 3px #e87722, -3px -3px #e87722, -3px 3px #e87722, 3px -3px #e87722;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #c2c9d2;
}

.item {
  background-color: white;
  margin: 10px;
  min-width: 80%;
}

.class {
  background-color: white;
  margin: 10px;
  min-width: 80%;
}

.no-padding {
  padding: 0px;
  margin: 0px;
}
